[package]
name = "oppai-zero-torch"
version = "0.1.0"
authors = ["Evgeny Kurnevsky <kurnevsky@gmail.com>"]
license = "AGPL-3.0+"
description = "Open Points Artificial Intelligence"
edition = "2021"

[dependencies]
ndarray.workspace = true
num-traits.workspace = true
indoc = "2.0"
pyo3 = { version = "0.28", features = ["auto-initialize"] }
numpy = "0.28"
oppai-zero = { path = "../zero" }
