[package]
name = "oppai-zero-train"
version = "0.1.0"
authors = ["Evgeny Kurnevsky <kurnevsky@gmail.com>"]
license = "AGPL-3.0+"
description = "Open Points Artificial Intelligence"
edition = "2024"

[dependencies]
ndarray.workspace = true
num-traits.workspace = true
either.workspace = true
burn = { workspace = true, features = ["autodiff", "autotune", "ndarray", "vulkan", "fusion"] }
rand = { workspace = true, features = [ "small_rng" ] }
rand_distr.workspace = true
log.workspace = true
env_logger.workspace = true
clap = { workspace = true, features = [ "cargo" ] }
anyhow.workspace = true
sgf-parse.workspace = true
strum.workspace = true
oppai-field = { path = "../field" }
oppai-initial = { path = "../initial" }
oppai-sgf = { path = "../sgf" }
oppai-zero = { path = "../zero" }
oppai-zero-burn = { path = "../zero-burn" }
oppai-zero-sgf = { path = "../zero-sgf" }

[dev-dependencies]
rand_xoshiro.workspace = true

[features]
default = ["dsu"]
dsu = ["oppai-field/dsu"]
